/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[探]Logs/
/[ユーザー]UserSettings/

# Visual Studio / VS Code 関連
.vs/
.vscode/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.db

# OS 関連
.DS_Store
Thumbs.db

# Unity のアセットメタデータ以外の一時ファイル
/[Aa]ssets/AssetStoreTools*